# for better gitignore templates: https://www.gitignore.io/

### Docker ###
# docker-compose
.env

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/

# Built application files
*.war

# Project files
*.iml
.idea

# Windows thumbnail db
.DS_Store

# Java class files
*.class

# VScode
.settings
.project